{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<h5>Quiz</h5>

<p>You have correctly answered all four questions! Below are answers for you to review:</p>
<div>
  <input type="radio" id="huey"  value="huey"
         checked >
  <label for="huey" style="color:red">True</label>
</div>

<div>
  <input type="radio" id="dewey"  value="dewey" disabled>
  <label for="dewey">False</label>
</div>
<p>You will be paired with the same participant for the rest of this study.</p>
<div>
  <input type="radio" id="hue"  value="huey"
         checked >
  <label for="huey" style="color:red">True</label>
</div>

<div>
  <input type="radio" id="dewe"  value="dewey" disabled>
  <label for="dewey">False</label>
</div>
<p>For each period, you will receive a fixed wage of 250 Liras.</p>
<div>
  <input type="radio" id="hu"  value="huey"
         checked >
  <label for="huey" style="color:red">True</label>
</div>

<div>
  <input type="radio" id="dew"  value="dewey" disabled>
  <label for="dewey">False</label>
</div>
<p>In each period, you can freely decide how long you will work on the slider task.</p>
<div>
  <input type="radio" id="hu"  value="huey"
         checked >
  <label for="huey" style="color:red">True</label>
</div>

<div>
  <input type="radio" id="dew"  value="dewey" disabled>
  <label for="dewey">False</label>
</div>
<p>You will Falset learn anything about the other participant’s performance at the end of each period.</p>

<div>
  <input type="radio" id="h"  value="huey"
         disabled>
  <label for="huey">True</label>
</div>

<div>
  <input type="radio" id="d"  value="d" checked>
    <label for="d" style="color:red">False </label> <div style="color:red">At the end of each period, you will receive information about (1) how many sliders you and your group member each correctly adjusted and (2) how many seconds you and your group members each spend on the slider task in the period.</div>
</div>

<div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight"></div>
    <div class="p-2 bd-highlight"></div>
    <div class="ml-auto p-2 bd-highlight">
        <button class="otree-btn-next btn btn-primary">Continue</button></div>
</div>


{% endblock %}
<script>
function checkResult(){

}
</script>