{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<h5>Welcome!</h5>

<p>Thank you for participating in this study.</p>

<p>Your participation today will take approximately 1 hour. During the study, we will use a currency called “Lira”. The Liras you earn will be converted into dollars (47.5 Liras = $1) and you will be paid in the form of an electronic gift card.</p>

<p>We promise that we will conduct this experiment precisely as we describe here and that there will be no deception of any kind. We also promise that all responses you provide will be anonymous. This means that your answers cannot be linked to you as an individual.</p>

<div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight"></div>
    <div class="p-2 bd-highlight"></div>
    <div class="ml-auto p-2 bd-highlight">
        <button class="otree-btn-next btn btn-primary">Continue</button></div>
</div>


{% endblock %}
