{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<h5>Instructions – General</h5>

<p>You will be randomly assigned to a two-person group, which we will call the organisation. You will remain in the same group, with the same other participant, for the entire study.</p>
<p>The production task for today’s study is known as an “arithmetic and slider task.” Your task is to first solve an arithmetic problem and then adjust the position of the slider to the corresponding number of your answer to the arithmetic question. The question will consist of adding, subtracting, multiplying or dividing numbers, and the possible answer of the question and resulting correct position of the slider can range from 0 to 100. You may adjust the position of each slider as many times as you wish. On the next screen, you will see an example of the task. </p>
<div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight"></div>
    <div class="p-2 bd-highlight"></div>
    <div class="ml-auto p-2 bd-highlight">
        <button class="otree-btn-next btn btn-primary">Proceed to the example</button></div>
</div>


{% endblock %}
