{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}

<p>
To avoid fatigue, during each period, you can choose to take a short break from the task and read some trivial facts about cities around the world. Below is an example of the type of trivial facts you will read about:
</p>
<i>Trivial facts about Sydney, Australia
</i>
<i>The biggest industries for employment in metropolitan Sydney are retail trade, health care and manufacturing. There are 658 suburbs in urban Sydney. 33 of these fall into the “inner city” region. Sydney has over 100 beaches within its city limits. Sydney harbour is the world’s deepest natural harbour, holding an estimated 500,000 megaliters of water.
</i>
<br>
<p>
    Whereas you can freely decide how long you would like to work on the slider task in each period, <u><strong>we want you to correctly solve as many sliders as possible.</strong></u> At the end of each period, you will receive information about (1) how many sliders you and your group member each correctly adjusted and (2) how many seconds you and your group member each spend on the slider task in the period.
</p>

<div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight"></div>
    <div class="p-2 bd-highlight"></div>
    <div class="ml-auto p-2 bd-highlight">
        <button class="otree-btn-next btn btn-primary">Continue</button></div>
</div>


{% endblock %}
