{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<p>Due to the recent economic downturn, your organisation is in financial distress and decides to cut wage costs by 100 Liras. The wage cut will be equally shared among you and your group member. That is, in the next period (Period 4), you and your group member will each receive a fixed wage of 200 Liras.</p>
<p>If the economic condition improves and the organisation performs well, your wage in Period 5 may revert back to the original level of 250 Liras. However, given the uncertainty involved, your organisation cannot provide you with a specific target or goal. Instead, you are strongly encouraged to work as hard as possible, i.e., to correctly solve as many sliders as possible.</p>
<div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight"></div>
    <div class="p-2 bd-highlight"></div>
    <div class="ml-auto p-2 bd-highlight">
        <button class="otree-btn-next btn btn-primary">Continue</button></div>
</div>


{% endblock %}
