{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block scripts %}

<script>
function rand(min,max){return Math.round(Math.random()*(max-min)+min)}
function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max));
}

function getIntList(max){
    var numbers = []
    for(let i =1;i<=max; i++){
        if((max%i) == 0){
            numbers.push(i)
        }
    } return numbers; }

function generateMath(){
    num1 = rand(1, 100);
    num2 = rand(1, 100);
    add = getRandomInt(4);
    if(add == 0){
        num1 = rand(1, 100);
        num2 = rand(1, 100-num1);
        document.getElementById("math").style.display = 'block';
        equation = " " + num1 + " " + ["+", "-","x","/"][add]+" "+num2 + " = "
        document.getElementById("math").innerHTML= equation ;
    }else if(add == 1){
        num1 = rand(1, 100);
        num2 = rand(1, num1);
        equation = " " + num1 + " " + ["+", "-","x","/"][add]+" "+num2 + " = "
        document.getElementById("math").style.display = 'block';
        document.getElementById("math").innerHTML= equation ;
    }else if(add == 2){
        num1 = rand(1, 100);
        num2 = rand(1, parseInt(100/num1));
        equation = " " + num1 + " " + ["+", "-","x","/"][add]+" "+num2 + " = "
        document.getElementById("math").style.display = 'block';
        document.getElementById("math").innerHTML= equation;
    }else{
        while(1){
          num1 = rand(1, 200);
          num2list = getIntList(num1);
          console.log(num2list.length);
          random_number = rand(0,num2list.length-1);
          console.log(random_number)
          num2 = num2list[getRandomInt(num2list.length-1)];
           if((num1 / num2)<=100){
            break;
           }
        }
        equation = " " + num1 + " " + ["+", "-","x","/"][add]+" "+num2 + " = "
        document.getElementById("math").style.display = 'block';
        document.getElementById("math").innerHTML=  equation;
    };
    document.getElementById('equation').value = equation;

    setTimeout(generateMath, 40000);
}

function myfunc() {
    console.log("The number is");
    var input = document.getElementById('num').value;
    document.getElementById('answer').value = input;
    var equation = document.getElementById('equation').value;
    console.log("Equation is ", equation.split(' '));
    equation_list = equation.split(' ');
    console.log(equation_list[2])
    if(equation_list[2] == '+'){
        result = parseInt(equation_list[1]) + parseInt(equation_list[3]);
        result_answer = parseInt(input)
    }else if(equation_list[2] == '-'){
        result = parseInt(equation_list[1]) - parseInt(equation_list[3]);
        result_answer = parseInt(input)
    }else if(equation_list[2] == 'x'){
        result = parseInt(equation_list[1]) * parseInt(equation_list[3]);
        result_answer = parseInt(input)
    }else if(equation_list[2] == '/'){
        result = parseInt(equation_list[1]) / parseInt(equation_list[3]);
        result_answer = parseInt(input)
    }
       console.log("Result Answer is", result_answer);
       console.log("Result is", result);
     if(result_answer == result){
        document.getElementById('answer_check').value = '1';
        console.log('True')
     }else{
        document.getElementById('answer_check').value = '0';
        console.log('False')
     }

}
</script>
{% endblock %}
{% block content %}
<body  onload="generateMath()">
<div>

</div>
<div class="d-flex justify-content-center"><h5>Question {{ round_number }}</h5></div>
<br>
<input type="hidden" name="equation" id="equation" />
<input type="hidden" name="answer" id="answer" />
<input type="hidden" name="answer_check" id="answer_check" />

<!--The exact question participants see  -->
<!--Participants’ answer (not just whether they get the answer right or wrong, but also the answer itself) -->
<!--How many questions they attempted-->
<!--How long they spend on each question-->

<!--<div><h5> {{round_number}} </h5></div>-->
<div class="range-slider">
    <label for="vol" style="padding-right:20px"><div class="d-flex p-2"><div class="align-self-center" style="color:black" id="math"></div><div id="equ"></div></div></label>
    <input name='num2' style="width:80%" id='userinput' type="range" value="0" min="0" max="100" oninput="num.value = this.value">
    <output id="num">0</output>
</div>
<br>
<div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight"></div>
    <div class="p-2 bd-highlight"></div>
    <div class="ml-auto p-2 bd-highlight"><button class="otree-btn-next btn btn-primary" onclick="myfunc()">Submit</button></div>

</div>
</body>
{% endblock %}


