{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<style>
input {
  width: 100px;
  background-color: #fcfcfc;
  border:0;
  border-bottom:2px solid lightgrey;;
  padding: 10px;
}
</style>
<div></div><p>You have completed the training period. You solved <input type="text" name="num3"> sliders correctly and your group member solved
<input name='num4' type="text"> sliders correctly.</div>
<p>For the following periods, you will perform the same arithmetic and slider task. Each period will last for 8 minutes and you will receive a fixed wage of 250 Liras every period.</p>
<br>
<div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight"></div>
    <div class="p-2 bd-highlight"></div>
    <div class="ml-auto p-2 bd-highlight">
        <button class="otree-btn-next btn btn-primary">Continue</button></div>
</div>


{% endblock %}
