{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<p>The negative impact of economic downturn is long-lasting and your organisation is still in financial distress. As a result, your wage in Period 5 will remain the same as in Period 4.
</p>


<div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight"></div>
    <div class="p-2 bd-highlight"></div>
    <div class="ml-auto p-2 bd-highlight">
        <button class="otree-btn-next btn btn-primary">Continue</button></div>
</div>


{% endblock %}
