{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
<h5>Instructions – Training period</h5>

<p>You will perform the arithmetic and slider task for five periods. The first period is a training period, which will last for three minutes, and your objective is to correctly adjust as many sliders as possible. At the end of the training period, you will receive information about (1) how many sliders you correctly adjusted and (2) how many sliders your group member correctly adjusted.</p>
<div class="d-flex bd-highlight mb-3">
    <div class="p-2 bd-highlight"></div>
    <div class="p-2 bd-highlight"></div>
    <div class="ml-auto p-2 bd-highlight">
        <button class="otree-btn-next btn btn-primary">Continue</button></div>
</div>


{% endblock %}
